@model DemoNet4XWeb.Models.ConsultaDgiiModel
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Consultar RNC</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Consultar RNC o cédula en registros de la Dirección General de Impuestos Internos (DGII) de República Dominicana.">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <style>

    body {
      padding-top: 32px
    }

    .field-validation-error {
      display: inline-block;
      color: white;
      background-color: orangered;
      padding: 8px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .field-input-container input {
      width: 200px;
      margin-right: 16px;
    }

    table th {
      width: 100px
    }
  </style>
</head>
<body>
  <div class="container">

    <header>
      <h1>Realizar consulta de RNC</h1>
    </header>
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken();


      <div>
        @Html.LabelFor(a => a.RncOCedula)
        <div class="field-input-container">
          @Html.TextBoxFor(a => a.RncOCedula, new { autofocus = "autofocus" })
        </div>
        @Html.ValidationMessageFor(a => a.RncOCedula)
      </div>
      <div>
        <button type="submit">Consultar</button>
      </div>

      <div>
        @if (Model.Response != null && Model.Response.IsOk)
        {
          <hr />
          <table class="dgii-response">
            <tr>
              <th>RNC</th>
              <td>@Model.Response.Rnc</td>
            </tr>
            <tr>
              <th>Nombre</th>
              <td> @Model.Response.Nombre</td>
            </tr>
          </table>
        }
      </div>
    }

  </div>
</body>
</html>

